<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="standardheader">
    <link rel='stylesheet' href='/webjars/bootstrap/4.4.1/css/bootstrap.min.css'>
    <style type="text/css">
        body {
            padding-bottom: 20px;
        }
    </style>
</head>

<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/startPage"><b>M26</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/startPage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accountManagement">Account Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/banking">Banking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/credit">Credit</a>
                </li>
            </ul>
            <div sec:authorize="!isAuthenticated()">
                <form class="form-inline my-2 my-lg-0" th:action="@{/login}" th:method="get">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Login</button>
                </form>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" th:method="get">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</div>
</html>