<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrierung</title>
</head>
<body>
    <h1>Super, dass Sie Kunde werden wollen</h1>
    <h3>Registrierung</h3>

    <form method="post" action="/registrieren">
        Vorname:<input type="text" name="vorname"><br/>
        Nachname:<input type="text" name="nachname"/><br/>
        <input type="submit" value="Jetzt Kunde werden">
    </form>
    <form action="/register">
        <input type="submit" value="registrieren">
    </form>
    <form action="/login">
        <input type="submit" value="anmelden">
    </form>

</body>
</html>