<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>please enter your informations to register</h1>
<form action="/registernew">
    Username(Max. 8 Digits):<input type="text" name="username"><span th:text="${usernamecheck}"/><br/>
    Password:<input type="text" name="password"><br/>
    FirstName:<input type="text" name="firstName"><br/>
    LastName:<input type="text" name="lastName"/><br/>
    Birthday (dd-MM-yyyy):<input type="text" name="birthday"><span th:text="${falseDate}"></span><br/>
    Street:<input type="text" name="street"/><br/>
    Number:<input type="text" name="number"/><br/>
    Zip:<input type="text" name="zip"/><br/>
    City:<input type="text" name="city"/><br/>
    Country:<input type="text" name="country"/><br/>
    <input type="submit" value="Register">
</form>
</body>
</html>