<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    Username:<span th:text="${username}"/><br/>
</form>
<form action="/register">
    <input type="submit" value="Create new Account">
</form>
<form action="/login">
    <input type="submit" value="login">
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form action="/account/create">
    <span th:text="${accountBalance}"/><br/>
    <input type="submit" value="account create">
</form>
</body>
</html>